github "aschuch/StatefulViewController" ~> 3.0
github "TextureGroup/Texture" "master"
github "codeOfRobin/NVActivityIndicatorView" "master"
github "johnsundell/unbox"
github "johnsundell/wrap"
github "codeOfRobin/Birdsong" "updating-starscream"