#github "aschuch/StatefulViewController"
github "trilogy-group/kayako-PINCache-Texture"
#github "codeOfRobin/NVActivityIndicatorView" 
github "ninjaprox/NVActivityIndicatorView"
github "johnsundell/unbox"
github "johnsundell/wrap" ~> 3.0.1
github "trilogy-group/kayako-Birdsong" "Swift4.2"
